# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Model files
# =========================
*.pkl
*.joblib

# =========================
# Data files
# =========================
*.csv
*.xlsx

# =========================
# Mac system files
# =========================
.DS_Store

# =========================
# Node (frontend)
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.vscode/
.idea/